:root {
  /* font families */
  --switzer-thin-font-family: "Switzer Thin", sans-serif;
  --switzer-regular-font-family: "Switzer Regular", sans-serif;
  --switzer-medium-font-family: "Switzer Medium", sans-serif;
  --switzer-semi-bold-font-family: "Switzer Semi-bold", sans-serif;
  --switzer-bold-font-family: "Switzer Bold", sans-serif;
  --switzer-italic-font-family: "Switzer Italic", sans-serif;
  /* General sans */
  --sans-thin-font-family: "Sans Thin", sans-serif;
  --sans-regular-font-family: "Sans Regular", sans-serif;
  --sans-medium-font-family: "Sans Medium", sans-serif;
  --sans-semi-bold-font-family: "Sans Semi-bold", sans-serif;
  --sans-bold-font-family: "Sans Bold", sans-serif;
  --sans-italic-font-family: "Sans Italic", sans-serif;

  /* font size */
  --one-px: 0.06rem;
  --two-px: 0.13rem;
  --three-px: 0.19rem;
  --four-px: 0.3rem;
  --five-px: 0.3rem;
  --six-px: 0.4rem;
  --eight-px: 0.5rem;
  --ten-px: 0.6rem;
  /* 12 */
  --twelve-px: 0.8rem;
  /* 14 */
  --forteen-px: 0.9rem;
  /* 15 */
  --fifteen-px: 0.9rem;
  /* 16 */
  --sixteen-px: 1rem;
  /* 18 */
  --eighteen-px: 1.1rem;
  /* 20 */
  --twenty-px: 1.3rem;
  /* 22 */
  --twenty-two-px: 1.375rem;
  /* 24 */
  --twenty-four-px: 1.5rem;
  /* 25 */
  --twenty-five-px: 1.6rem;
  /* 26 */
  --twenty-six-px: 1.625rem;
  /* 28 */
  --twenty-eight-px: 1.8rem;
  /* 30 */
  --thirty-px: 1.875rem;
  /* 32 */
  --thirty-two-px: 2rem;
  /* 36 */
  --thirty-six-px: 2rem;
  /* 38 */
  --thirty-eight-px: 2.375rem;
  /* 40 */
  --forty-px: 3rem;
  /* 44 */
  --forty-four-px: 3rem;
  /* 48 */
  --forty-eight-px: 3rem;
  /* 50 */
  --fifty-px: 3rem;
  /* 54 */
  --fifty-four-px: 3.375rem;
  /* 56 */
  --fifty-six-px: 4rem;
  /* 60 */
  --sixty-px: 3.75rem;
  /* 64 */
  --sixty-four-px: 4rem;
  /* 70 */
  --seventy-px: 4.375rem;
  /* 72 */
  --seventy-two-px: 5rem;
  /* 75 */
  --sevety-five-px: 5rem;
  /* 80 */
  --eighty-px: 5rem;
  /* 90 */
  --ninty-px: 6rem;
  /* 100 */
  --hundred-px: 6rem;
  /* font-weight */
  --black-bold: 900;
  --extra-bold: 800;
  --bold: 700;
  --semi-bold: 600;
  --medium: 500;
  --normal: 400;
  --thin: 300;
  /* colors */
  --black: black;
  --mix-black: #172839;
  --green: #009645;
  --white: white;
  --grey: #6d6e71;
}

@font-face {
  font-family: "Switzer Regular";
  src: url("../assets/fonts/Switzer-Regular.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: "Switzer Thin";
  src: url("../assets/fonts/Switzer-Thin.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: "Switzer Medium";
  src: url("../assets/fonts/Switzer-Medium.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: "Switzer Semi-bold";
  src: url("../assets/fonts/Switzer-Semibold.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: "Switzer Bold";
  src: url("../assets/fonts/Switzer-Bold.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: "Switzer Italic";
  src: url("../assets/fonts/Switzer-Italic.otf") format("opentype");
  font-style: normal;
}
/*  */
@font-face {
  font-family: "Sans Regular";
  src: url("../assets/fonts/GeneralSans-Regular.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: "Sans Thin";
  src: url("../assets/fonts/GeneralSans-Thin.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: "Sans Medium";
  src: url("../assets/fonts/GeneralSans-Medium.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: "Sans Semi-bold";
  src: url("../assets/GeneralSans-Semibold.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: "Sans Bold";
  src: url("../assets/fonts/GeneralSans-Bold.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: "Sans Italic";
  src: url("../assets/fonts/GeneralSans-Italic.otf") format("opentype");
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
a {
  text-decoration: none !important;
}

.primary-heading {
  font-family: var(--sans-bold-font-family);
  /* 64 px */
  font-size: var(--sixty-four-px);
  /* white */
  color: var(--white);
}
.secondary-heading {
  font-family: var(--sans-medium-font-family);
  /* 50 px */
  font-size: var(--fifty-px);
  /* black */
  color: var(--black);
}
.secondary-heading2 {
  font-family: var(--sans-medium-font-family);
  /* 50 px */
  font-size: var(--fifty-px);
  /* #009645 */
  color: var(--green);
}
.secondary-heading3 {
  font-family: var(--sans-medium-font-family);
  /* 50 px */
  font-size: var(--fifty-px);
  /* white */
  color: var(--white);
}
.tertiary-heading {
  font-family: var(--sans-medium-font-family);
  /* 24 px */
  font-size: var(--twenty-four-px);
  /* #172839 */
  color: var(--mix-black);
}
.tertiary-heading2 {
  font-family: var(--sans-semi-bold-font-family);
  /* 24 px */
  font-size: var(--twenty-four-px);
  /* black */
  color: var(--black);
}
.tertiary-heading3 {
  font-family: var(--sans-medium-font-family);
  /* 24 px */
  font-size: var(--twenty-four-px);
  /* white */
  color: var(--white);
}
.primary-para {
  font-family: var(--switzer-regular-font-family);
  /* 24 px */
  font-size: var(--twenty-four-px);
  /* black */
  color: var(--black);
}
.primary-para2 {
  font-family: var(--switzer-regular-font-family);
  /* 22 px */
  font-size: var(--twenty-two-px);
  /* black */
  color: var(--black);
}
.primary-para3 {
  font-family: var(--switzer-regular-font-family);
  /* 22 px */
  font-size: var(--twenty-two-px);
  /* white */
  color: var(--white);
}
.primary-para4 {
  font-family: var(--switzer-regular-font-family);
  /* 24 px */
  font-size: var(--twenty-four-px);
  /* white */
  color: var(--white);
}
.secondary-para {
  font-family: var(--switzer-semi-bold-font-family);
  /* 16 px */
  font-size: var(--sixteen-px);
  /* black */
  color: var(--black) !important;
  font-weight: var(--semi-bold);
}
.secondary-para2 {
  font-family: var(--switzer-regular-font-family);
  /* 16 px */
  font-size: var(--sixteen-px);
  /* white */
  color: var(--white);
}
.secondary-para3 {
  font-family: var(--switzer-regular-font-family);
  /* 16 px */
  font-size: var(--sixteen-px);
  /* black */
  color: var(--black) !important;
}
.tertiary-para {
  font-family: var(--switzer-medium-font-family);
  /* 18 px */
  font-size: var(--eighteen-px);
  /* white */
  color: var(--white);
  font-weight: var(--medium);
}
.quaternary-para {
  font-family: var(--switzer-medium-font-family);
  /* 20 px */
  font-size: var(--twenty-px);
  /* black */
  color: var(--black);
  font-weight: var(--medium);
}
.quaternary-para2 {
  font-family: var(--switzer-medium-font-family);
  /* 20 px */
  font-size: var(--twenty-px);
  /* white */
  color: var(--white);
  font-weight: var(--medium);
}
.penta-para {
  font-family: var(--switzer-regular-font-family);
  /* 32 px */
  font-size: var(--thirty-two-px);
  /* black */
  color: var(--black);
}
.hexa-para {
  font-family: var(--switzer-regular-font-family);
  /* 18 px */
  font-size: var(--eighteen-px);
  /* grey */
  color: var(--grey);
  font-weight: var(--regular);
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 0 !important;
  align-items: center;
}
.nav-link:hover {
  color: #138acd !important;
}
.navGap {
  column-gap: 1rem;
}
.quoteBtn {
  background: #009645;
  border: none;
  padding: 0.6rem 1.3rem;
  border-radius: 0.1rem;
}

/* hero sec start */
.heroBg {
  background: url(../assets/images/hero-bg.png) no-repeat center center / cover;
  padding-top: 13rem;
  height: 130vh;
}
.hero-sec {
  max-width: 940px;
  margin: 0 auto;
}
/* hero sec end */
/* offer section start */
.offer-container {
  padding-top: 8rem;
}
.offer-img {
  width: 80%;
  margin-bottom: -11rem;
}
.light-black-bg {
  background-color: #141414;
  padding-top: 10rem;
  padding-bottom: 3rem;
}
.black-bg {
  background-color: black;
  padding: 6rem 0rem;
}
.offer-p2 {
  margin-bottom: 3rem;
}
/* offer section end */
/* works section start */
.works-bg {
  background-color: #f5f6f7;
  padding: 5rem 0rem;
}
.works-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.works-card {
  background-color: white;
  padding: 2rem 1rem;
  width: calc(33% - 10px);
  position: relative;
  min-height: 375px;
}
.card1-h3::before {
  content: url(../assets/images/Step1.svg);
  position: absolute;
  top: 7rem;
}
.card2-h3::before {
  content: url(../assets/images/Step2.svg);
  position: absolute;
  top: 7rem;
}
.card3-h3::before {
  content: url(../assets/images/Step3.svg);
  position: absolute;
  top: 7rem;
}
/* works section end */
/* choose section start */
.choose-bg {
  background-color: black;
  padding: 4rem 0rem;
}
.choose-h3 {
  margin-top: 4rem;
}
/* choose section end */
/* members section start */
.members-container {
  padding: 6rem 0rem;
}
.member-card-container {
  background-color: #fafafa;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 0rem 3rem 2rem 3rem;
  position: relative;
  min-height: 350px;
  margin-top: 3rem;
}

.card-p::after {
  content: url(../assets/images/quote1.svg);
  position: absolute;
  bottom: 2rem;
  right: 7.5rem;
}
.card-p2::after {
  content: url(../assets/images/quote1.svg);
  position: absolute;
  bottom: 4.5rem;
  right: 9.5rem;
}
.colored-h2 {
  margin-bottom: 3rem;
}
/* members section end */
/* get started-section start */
.started-bg {
  background: url(../assets/images/started-bg.png) no-repeat center center /
    cover;
  height: 40vh;
}
.joinBtn {
  background: white;
  color: #009645;
  border: none;
  padding: 0.6rem 1.3rem;
  border-radius: 0.1rem;
}
.learnBtn {
  background: none;
  color: white;
  border: none;
  padding: 0.6rem 1.3rem;
  border-radius: 0.1rem;
  border: 1px solid white;
}
/* get started-section end */
/* partner section start  */
.partner-container {
  padding-top: 5rem;
  padding-bottom: 3rem;
}
/* partner section end */
/* contact section start */
.contact-bg {
  background: url("../assets/images/contact-bg.png") 0% 0% no-repeat,
    linear-gradient(to right, white 50%, white 50%);
  background-size: auto, cover;
  height: 100%;
}
.contact-container {
  padding-top: 6rem;
  padding-left: 2rem;
  padding-bottom: 3rem;
}
.input {
  outline: none !important;
  background: none;
  border: 1px solid black;
  width: 100%;
  padding: 0.5rem 0.5rem;
  margin-bottom: 1.5rem;
}
/* contact section end */
#backToTop {
  min-width: unset;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #34A753;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
}
#backToTop:hover {
  background-color: #A8A8A8;
}
#backToTop img {
  width: 25px;
  height: 25px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(6349%) hue-rotate(36deg) brightness(99%) contrast(111%);
}
@media all and (max-width: 992px) {
  .works-card {
    width: calc(50% - 10px);
    min-height: 375px;
  }
  .contact-bg {
    background: none;
  }
}
@media all and (max-width: 768px) {
  p {
    font-size: 1.2rem !important;
  }
  .secondary-heading,
  .secondary-heading2 {
    font-size: 2rem;
  }
  /* hero sec mq start */
  .primary-heading {
    font-size: 2rem !important;
  }
  .heroBg {
    padding-top: 6rem;
    height: 100vh;
  }

  /* hero sec mq end */
  /* offer section mq start */
  .offer-container {
    padding-top: 2rem;
  }
  .offer-img {
    width: 100%;
    margin-bottom: -5rem;
  }
  .light-black-bg {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
  .black-bg {
    padding: 4rem 0rem;
  }
  /* offer section mq end */
  .offer-p2 {
    margin-bottom: unset;
  }
  /* works section mq start */
  .works-card {
    width: calc(100% - 10px);
    min-height: 375px;
  }
  .works-bg {
    padding: 3rem 0rem;
  }
  /* works section mq end */
  /* choose section mq start */
  .choose-h3 {
    margin-top: 1rem;
  }
  /* choose section mq end */
  /* members section mq start */
  .card-p2::after {
    bottom: 2.5rem;
    right: 2rem;
  }
  .card-p::after {
    bottom: 2rem;
    right: 3.5rem;
  }
  .members-container {
    padding: 2rem 0rem;
  }
  .colored-h2 {
    margin-bottom: 1rem;
  }
  /* members section mq end */
  /* get started-section mq start */
  .secondary-heading3 {
    font-size: 2rem;
  }
  .started-bg {
    background: url(../assets/images/started-bg.png) no-repeat center center /
      cover;
    height: 50vh;
    margin-bottom: 2rem;
  }
  /* get started-section mq end */
    /* partner section mq start  */
    .partner-container {
      padding-top: 0rem;
      padding-bottom: 2rem;
    }
    /* partner section mq end */
  /* contact section start */
  .contact-bg {
    background: none;
  }
  .contact-container {
    padding-top: 1rem;
    padding-left: unset;
    padding-bottom: 2rem;
  }
  /* contact section end */
  /* footer mq start mq  */
  .callgap {
    margin-top: 1.5rem !important;
    margin-bottom: 1rem !important;
  }
  /* footer mq end */
  /* modal */
  .modal-img {
    width: 100%;
  }
}
